
html {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; /
}

body {
  background-image: url("/Assets/Images/sakurawallpaper_lessopacity.png");
  background-size: 100%;
  background-repeat: repeat-y;
  margin: 0;
}

h1 {
  font-size: 24px; 
  line-height: 1.5;
  color: #b84c65;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: underline;
}

h2 {
  font-size: 18px;
  line-height: 1.5;
  color: #b84c65;
  text-decoration: none;
  background-color: rgba(252, 192, 197, 0.562);
  border: 1px solid;
  padding: 10px;
}

h3,
h4 {
  color: #a07583;
  border-color: #fcc0c5da;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 10px;
}

p {
  font-size: 16px; 
  line-height: 1.6;
  color: #b84c65;
  background-color: rgb(252, 192, 197);
  border: 1px solid;
  padding: 10px;
  text-align: center;
}

a:link,
a:visited {
  color: #b84c65;
  text-decoration: underline;
  flex: 1;
  background-color: #fcc0c5;
  padding: 10px;
  text-align: center;
  text-decoration: underline;
}

a:hover,
a:active {
  color: #ffffff !important;
  background-color: #fcc0c5;
}

footer {
  color: #b84c65;
  text-align: center;
  position: static;
  margin-top: 40px;
}

li {
  padding: 14px;
  border-top: 20px;
  display: inline-block;
  text-align: center;
  background-color: #fcc0c5;
  border: 1px solid;
}

label {
  font-size: 16px; 
  line-height: 1.5;
  color: #b84c65;
  text-decoration: none;
  padding: 10px;
}

img {
  width: 100% !important;
}

.pdf {
  width: 80%;
  aspect-ratio: 4 / 3;
}

/* Form Inputs */
input[type="text"],
input[type="email"] {
  box-sizing: border-box;
  border: 1px solid #b84c65;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: white;
  width: 100%;
}

input[type="message"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #b84c65;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
  background-color: white;
}

/* Submit button */
button[type="submit"] {
  color: #b84c65;
  text-decoration: underline;
  background-color: #fcc0c5;
  padding: 12px 20px;
  border: 1px solid #b84c65;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  color: white;
}

/* Contact Form Container */
div.contact-form {
  background-color: #fcc0c565;
  border-radius: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

/* Media Queries: Larger screens */
@media (min-width: 576px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 22px;
  }

  p {
    font-size: 18px;
  }

  li {
    padding: 14px;
    margin: 5px;
    display: inline-block;
  }

  input[type="text"],
  input[type="email"],
  input[type="message"],
  select,
  textarea {
    width: 100%;
  }

  button[type="submit"] {
    width: auto;
    margin-top: 15px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 26px;
  }

  p {
    font-size: 20px;
  }



  li {
    display: inline-block;
    margin: 5px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 22px;
  }


}

@media (min-width: 1200px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 24px;
  }


}
